<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Monguser's Dashboard</h1>
	<a href="/new">Add a monguser</a>
	<ul>
		<% for(var i in data){ %>
		<a href='/mongooses/<%= data[i].id %>'><li>Name: <span><%= data[i].name %></span></li></a>
		<% } %>
	</ul>
</body>
</html>
