<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="container">
		<h1>Monguser's Dashboard</h1>
		<hr>
		<% for(var i in data){ %>
		<a href='/mongooses/<%= data[i].id %>'><h2><%= data[i].name %></h2></a>
		<% } %>
		<hr>
		<a class="button" href="/mongooses/new">Add a monguser</a>
	</div>
</body>
</html>
